
.WheelParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.pointer {
    margin-bottom: 0;
}

button.spinnerButton {
    font-size: 1rem;
    margin: 10px;

    width: 50px;
    min-width: 75%;
    max-width: 90%;

    padding: 10px;
}